<div class="container-fluid">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Login Form</h3>
        <div class="form-group">
            <label>UserName:</label>
            <input formControlName="username" type="text" class="form-control">
            <div *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                <small *ngIf="loginForm.get('username').errors?.required" class="text-danger">Name is Required</small>
            </div>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input formControlName="password" type="password" class="form-control">
            <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">Password is Required</small>
            </div>
        </div>

        <div>
            <button type="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>